.joomleague .td_l {
	text-align: left;
}

.joomleague .td_c {
	text-align: center;
}

.joomleague .td_r {
	text-align: right;
}

.joomleague div.fulltablelink {
	text-align: center;
}

.joomleague .rank {
	width: 25px;
	text-align: right;
}